[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
apscheduler = "*"
requests = "*"
pytest = "*"
flake8 = "*"

[packages]
fastapi = "==0.49.2"
uvicorn = "*"
aiohttp = {extras = ["speedups"],version = "*"}
asyncpg = "*"
gino = "*"
robinhood-aiokafka = "*"
jinja2 = "*"
apscheduler = "*"
alembic = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
