[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
apscheduler = "*"

[packages]
fastapi = "*"
uvicorn = "*"
aiohttp = {extras = ["speedups"],version = "*"}
asyncpg = "*"
gino = "*"
aiokafka = "*"
jinja2 = "*"
apscheduler = "*"

[requires]
python_version = "3.8"
