<!DOCTYPE html>
<html lang="en">
<head>
    <title>Custom Policy Notification</title>
</head>
<body>
    <p>Hi Jerome,</p>
    <p>&nbsp;</p>
    <p></p>
    <p>Your systems were identified as a match for the following Custom Policies:</p>
    <ul id="navigation">
    {% for key, value in trigger_stats.items() %}
        <li>{{ key }} = {{ value }}</li>
    {% endfor %}
    </ul>
    <p>You are receiving this email because you are subscribed to Email Notifications for your account.</p>
</body>
</html>